$font-Barlow: 'Barlow', sans-serif;
$font-Montserrat:'Montserrat', sans-serif;
$prim-color: #00FF29;
$prim-dark-color: #267F34;
$prim-light-color: #4CFF69;
$white-color:#F9F8F6;
$grey : #717A89;
$grey-dark-color: #363D50;
$grey-light-color: #B0BED5;
$grey-font :#919ba9;

html{
    body {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        background: $grey;
        .navBar{
            width: 100%;
            box-shadow: 0 0 20px $grey-dark-color;
            ul{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                width: 100%;
                padding-left:0; 
                a{
                    width:28%;
                    height: 100%;
                    font-family: $font-Barlow;
                    text-decoration: none;
                    color: $white-color;
                    border-radius: 3px;
                    li{
                        list-style-type: none;
                        text-align: center;
                        font-size: 0.8rem;
                        text-transform: uppercase;
                        &.active{
                            color: $prim-light-color;
                        } 
                    }
                    &:hover{
                        color: $prim-color;
                    }
                }
            }
        }
        .heading{
            width: 100%;
            height:600px;

            background-size: cover;
            background-position: center;
            display: flex;
            justify-content: center;
            .he-content{
                width: 60%;
                max-width: 1280px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                
                .he-name{
                    font-size: 4rem;
                    color: $white-color;
                    font-family: $font-Barlow;
                    text-transform: uppercase;
                    
                    &:First-Letter{
                        color: $prim-color;
                        font-size: 5rem;
                    }
                    .he-namelastletter{
                        color: $prim-color;
                        font-size: 5rem;
                    }
                }
                .he-desc{
                    font-size: 2rem;
                    color: $white-color;
                    font-family: $font-Montserrat;
                    text-transform: uppercase;
                    margin-left: 20px;
                }
            }
        }
        .description{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding-bottom:100px; 

            .de-content{
                width: 60%;
                max-width: 1280px;
                padding: 20px;
                background-color: $grey-dark-color;
                box-shadow: 0 0 10px $grey-dark-color;
                .de-title{
                    font-size: 0.8rem;
                    color: $white-color;
                    font-family: $font-Barlow;
                    text-transform: uppercase;
                    .de-namelastletter{
                        color: $prim-color;
                        font-size: 1.2rem;
                        margin-left: 2px;

                    }
                }
                .de-description{
                    font-size: 1rem;
                    color: $white-color;
                    font-family: $font-Montserrat;
                    font-variant: small-caps ;
                }
            }

        }
        .knowledge{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            background-image: url('Asset/Work-computer.png');
            background-size: cover;
            background-position: center;
            padding-bottom:100px; 
            .kn-content{
                width: 60%;
                max-width: 1280px;
                .kn-title{
                    font-size: 3rem;
                    font-family: $font-Montserrat;
                    color: $white-color;
                    text-align: center;
                    .kn-num{
                        font-size: 2rem;
                        color: $grey-light-color
                    }
                    .kn-desc{
                        font-size: 1.5rem;
                        font-style: italic;
                    }
                }
                .kn-listing{
                    color: $white-color;
                    font-family: $font-Montserrat;
                    width: 100%;
                    .kn-ligne{
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        .element{
                            width: 100px;
                            text-align: end;
                            text-transform: uppercase;
                        } 
                        .kn-contentprogressbar{
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            flex-wrap: nowrap;
                            .kn-progressbar{
                                height: 6px;
                                background-color: $prim-light-color;
                                margin: 22px 10px;
                                
                            }
                        }
                        
                    }
                }
            }
        }
        .portfolio{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding-bottom:100px; 
            .po-content{
                width: 60%;
                max-width: 1280px;
                .po-title{
                    font-size: 3rem;
                    font-family: $font-Montserrat;
                    color: $white-color;
                    text-align: center;
                    .po-num{
                        font-size: 2rem;
                        color: $grey-light-color
                    }
                    .po-desc{
                        font-size: 1.5rem;
                        font-style: italic;
                    }
                }
                .po-listing{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;
                    .card{
                        // margin: 2px;
                        width: 30%;
                        min-width: 200px;

                        .po-img{
                            height: 150px;
                            object-fit: cover;
                            
                        }
                    }
                }
            }
        }
    }
}